@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,700;1,300&display=swap");

* {
  font-family: "Nunito", Arial, sans-serif;
  margin: 0;
}

.container {
  background-size: cover;
  object-fit: contain;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1.5fr;
  grid-template-rows: 1.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1.5fr;
  gap: none;

  grid-auto-flow: row;
  grid-template-areas:
    "a b c d e f g h i j k"
    "an ao ao ao ao ao ao ao ao ao l"
    "am ao ao ao ao ao ao ao ao ao m"
    "al ao ao ao ao ao ao ao ao ao n"
    "ak ao ao ao ao ao ao ao ao ao o"
    "aj ao ao ao ao ao ao ao ao ao p"
    "ai ao ao ao ao ao ao ao ao ao q"
    "ah ao ao ao ao ao ao ao ao ao r"
    "ag ao ao ao ao ao ao ao ao ao s"
    "af ao ao ao ao ao ao ao ao ao t"
    "ae ad ac ab aa z y x w v u";
}

.ao {
  grid-area: ao;
}

.a {
  grid-area: a;
}

.b {
  grid-area: b;
}

.c {
  grid-area: c;
}

.d {
  grid-area: d;
}

.e {
  grid-area: e;
}

.f {
  grid-area: f;
}

.g {
  grid-area: g;
}

.h {
  grid-area: h;
}

.i {
  grid-area: i;
}

.j {
  grid-area: j;
}

.k {
  grid-area: k;
}

.l {
  grid-area: l;
}

.m {
  grid-area: m;
}

.n {
  grid-area: n;
}

.o {
  grid-area: o;
}

.p {
  grid-area: p;
}

.q {
  grid-area: q;
}

.r {
  grid-area: r;
}

.s {
  grid-area: s;
}

.t {
  grid-area: t;
}

.u {
  grid-area: u;
}

.v {
  grid-area: v;
}

.w {
  grid-area: w;
}

.x {
  grid-area: x;
  border: brown;
}

.y {
  grid-area: y;
}

.z {
  grid-area: z;
}

.aa {
  grid-area: aa;
}

.ab {
  grid-area: ab;
}

.ac {
  grid-area: ac;
}

.ad {
  grid-area: ad;
}

.ae {
  grid-area: ae;
  // background: url('../images/busted.jpg');
}

.af {
  grid-area: af;
}

.ag {
  grid-area: ag;
}

.ah {
  grid-area: ah;
}

.ai {
  grid-area: ai;
}

.aj {
  grid-area: aj;
}

.ak {
  grid-area: ak;
}

.al {
  grid-area: al;
}

.am {
  grid-area: am;
}

.an {
  grid-area: an;
}

html,
body,
.container {
  height: 100%;
  margin: 0;
  // background: linear-gradient(pink, rgb(139, 4, 117));
}

.container * {
  position: relative;
  z-index: 1;
  border: 0.5px solid #eee;
  &:hover {
    background-blend-mode: "darken";
    // border: 1px solid;
    box-shadow: 0px 0px 5px black;
    // transition: all 0.3s;
  }
}

.container *:after {
  // content: attr(class);
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}

.token {
  position: relative;
  z-index: 100;
  margin: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: red;
  transition: all 0.2s;
  &:hover {
    box-shadow: none;
  }

  &.player1Token {
    background: radial-gradient(yellow, black);
  }
  &.player2Token {
    background: radial-gradient(red, blue);
  }
  &.player3Token {
    background: radial-gradient(green, gold);
  }
  &.player4Token {
    background: radial-gradient(orange, violet);
  }
}

// Toast
.Toastify__toast-theme--light {
  background-color: aqua;
}

.form-overlay {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  background: url("/images/assets/vc-bg.jpg");
  background-size: cover;
  background-color: #1a2303;
  background-blend-mode: luminosity;

  .createJoinForm {
    background-color: white;
    width: 360px;
    border: 1px solid #2c2c2c;
    border-radius: 5px;
    align-self: center;
    height: 300px;
    &.create {
      background-color: #c5ff6b;
    }
    &.join {
      background-color: #a9ffff;
    }
  }

  .form-inner {
    padding: 5px 10px;
  }
}

// Global
.flex {
  display: flex;
  &.spc {
    justify-content: center;
    gap: 10px;
  }
}

#create-tab-btn {
  cursor: pointer;
  float: left;
  width: 50%;
  background-color: #c5ff6b;
  text-align: center;
  font-weight: 600;
  font-size: xx-large;
  box-shadow: #747474 -2px -2px 2px inset;
  border-radius: 5px 0 0 0;
  &.checked {
    background-color: #c5ff6b;
    cursor: default;
    box-shadow: #b1b1b1 0px -1px 0px inset;
  }
}

#join-tab-btn {
  cursor: pointer;
  float: right;
  width: 50%;
  border-radius: 0 5px 0 0;
  text-align: center;
  background-color: #a9ffff;
  font-weight: 600;
  box-shadow: #747474 -2px -2px 2px inset;
  font-size: xx-large;
  &.checked {
    background-color: #a9ffff;
    box-shadow: #b1b1b1 0px -1px 0px inset;
    cursor: default;
  }
}

.join-form {
  margin-top: 10px;
  padding: 0 26%;

  .form-options {
    margin-top: 30px;
  }
}

.create-form {
  margin-top: 40px;
  padding: 0 26%;

  .form-options {
    margin-top: 55px;
  }
}

.playerNameInput,
.roomIdInput {
  margin-bottom: 10px;
}

.currentTabLabel {
  text-align: center;
  font-weight: 600;
  margin: 45px 0;
}
